/*
@规则：
	1、@charset 设置样式表的编码
	2、@import 导入其它样式文件
	3、@meida 媒体查询
	4、@font-face 自定义字体
*/

@import "reset.css";

@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../font/iconfont.woff2') format('woff2'),
	url('../font/iconfont.woff') format('woff'),
	url('../font/iconfont.ttf') format('truetype'),
	url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*头部信息*/
/*开发经验：可以根据唯一id限制css范围*/
#headMessage li{
	float: left;
	line-height: 35px;
	padding: 0 6px;
	font-size: 0;  /*解决由于<span>换行而产生的空格问题*/
}

#headMessage a{
	color: #6c6c6c;
	font-size: 12px;
}

#headMessage a:hover{
	color: #f40;
}

#headMessage a.login{
	color: #f22e00;
}

#headMessage span{
	font-size: 12px;
}

#headMessage span.arrow{
	margin-left: 7px;
}

#headMessage li strong{
	font-size: 12x;
	color: #f22e00;
}

#headMessage li span.store{
	color: #9c9c9c;
}

#headMessage li.line{
	font-size: 12px;
	color: #ddd;
	padding: 0 5px;
}

/*头部广告*/
#headAd{
	background-color: #f12f04;
}

#headAd .go{
	display: block;
	padding: 10px 10px 10px 15px;
}

#headAd .go img{
	width: 80px;
	height: 80px;
}

#headAd ul{
	padding-top: 13px; 
}

#headAd li{
	float: left;
	width: 209px;
	height: 75px;
	margin-right: 10px;

	padding: 12px 15px 0 15px;
	box-sizing: border-box;  /*将盒模型设置为IE盒模型*/
	/*
	盒模型：
		1、标准盒模型
			总宽度 = border（左右）+ width + padding（左右）
			总高度 = border（上下）+ height + padding（上下）
		2、IE盒模型（怪异盒模型）
			总宽度 = width
			总高度 = height
	*/
}

#headAd li h3{
	font-size: 20px;
	line-height: 28px;
}

#headAd li p{
	font-size: 14px;
	line-height: 20px;
}

#headAd li a{
	color: #fff;
}

#headAd li a img{
	width: 52px;
	height: 52px;
	border-radius: 5px;  /*圆角*/
}

#headAd li.item1{
	background: url(../images/adbg_01.png) no-repeat;
}

#headAd li.item2{
	background: url(../images/adbg_02.png) no-repeat;
}

#headAd li.item3{
	background: url(../images/adbg_03.png) no-repeat;
}

#headAd li.item4{
	background: url(../images/adbg_04.png) no-repeat;
}

#headAd li.item5{
	background: url(../images/adbg_05.png) no-repeat;
	margin-right: 0;
}

/*头部搜索*/
#headSearch{
	background: #fff;
	padding: 24px 0 10px 0;  /*上 右 下 左*/
}

#headSearch h1 a{
	display: block;
	width: 190px;
	height: 58px;
	background: url(../images/logo.png) center no-repeat;
	text-indent: -9999px;  /*首行缩进*/
	overflow: hidden;
	margin-top: 8px;
}

#headSearch .code{
	width: 72px;
	height: 86px;
	border: 1px solid #eee;
	position: relative;
	margin-right: 110px;
	text-align: center;
}

#headSearch .code img{
	height: 62px;
	width: 62px;
}

#headSearch .close{
	position: absolute;
	left: -16px;  /*14+1+1=16*/
	top: -1px;

	width: 14px;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	border: 1px solid #eee;
	color: #ddd;
	cursor: pointer;  /*光标变成手的形状*/
}

#headSearch .search{
	width: 630px;
	margin: 0 auto;
}

#headSearch .searchTab{
	height: 22px;
	padding-left: 17px;
}

#headSearch .searchTab li{
	float: left;
	width: 36px;
	line-height: 22px;
	margin-right: 4px;
	text-align: center;
	color: #f40;
	cursor: pointer;
}

#headSearch .searchTab li:hover{
	background-color: #ffeee5;
}

#headSearch .searchTab li.active{
	color: #fff;
	font-weight: bold;

	/*CSS3样式*/
	background-image: linear-gradient(to right, #ff9000, #ff5000);  /*线性渐变：渐变方向，起始颜色，结束颜色 浏览器兼容：IE10+*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);  /*滤镜：1表示水平方向，0表示垂直方向 IE特有*/
	border-radius: 6px 6px 0 0;  /*边框圆角*/
}

#headSearch .searchContent{
	height: 40px;
}

#headSearch .searchBox{
	width: 554px;
	height: 40px;
	box-sizing: border-box;  /*设置IE盒模型*/
	border: 2px solid #ff5000;
	border-right: none;
	border-radius: 20px 0 0 20px;
	overflow: hidden;
	position: relative;  /*相对定位*/
}

#headSearch .searchBox input{
	width: 490px;
	height: 36px;  /*40-2-2=36*/
	line-height: 36px;
	outline: none;  /*去除轮廓（轮廓是绘制于元素周围的一条线，位于边框边缘的外围，可起到突出元素的作用。）*/
	border: none;  /*去除边框*/
	text-indent: 10px;  /*首行缩进*/

	position: absolute;
	z-index: 1;
	background-color: transparent;  /*背景透明*/
}

#headSearch .placeholder{
	position: absolute;
	top: 6px;
	left: 14px;
}

#headSearch .placeholder span{
	color: #9c9c9c;
	vertical-align: 2px;  /*设置元素的垂直对齐方式*/
}

#headSearch .imgSearch{
	position: absolute;
	right: 20px;
	font-size: 28px;
	color: #9c9c9c;
	top: -2px;
	cursor: pointer;
}

#headSearch .searchContent button{
	width: 74px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	border: none;

	background-image: linear-gradient(to right, #ff9000, #ff5000);  /*线性渐变：渐变方向，起始颜色，结束颜色 浏览器兼容：IE10+*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);  /*滤镜：1表示水平方向，0表示垂直方向 IE特有*/
	border-radius: 0 20px 20px 0;  /*边框圆角*/
}

#headSearch .hbtKey{
	height: 25px;
	line-height: 25px;
}

#headSearch .hbtKey a:hover{
	color: #f50;
}

/*导航*/
#nav h2{
	width: 190px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #f50;
}

#nav ul{
	width: 1000px;
	width: calc(100% - 190px);  /*注意：计算符号前后必须存在空格 浏览器兼容：IE9+*/

	/*方案二：
	margin-left: 190px;
	overflow: hidden;*/

	background-image: linear-gradient(to right, #ff9000, #ff5000);  /*线性渐变：渐变方向，起始颜色，结束颜色 浏览器兼容：IE10+*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);  /*滤镜：1表示水平方向，0表示垂直方向 IE特有*/
}

#nav ul li{
	float: left;
	line-height: 30px;
	margin: 0 7px;
	color: #fff;
	font-size: 14px;
	padding: 0 5px;

	position: relative;
}

#nav ul li.size{
	font-size: 16px;
}

#nav ul li a{
	color: #fff;
	font-weight: bold;
}

#nav ul li.line{
	margin: 0;
	padding: 0;
}

#nav ul li:hover:before{
	content: "";
	position: absolute;
	width: 23px;
	height: 13px;
	background-image: url(../images/ico_01.gif);
	top: -13px;
	left: 50%;
	margin-left: -12px;
}

/*首屏内容*/

/*左边的内容*/
#firstScreen .firstLeft{
	width: 890px;
}

/*侧边导航*/
#firstScreen .firstLeft .sideNav{
	width: 190px;
	height: 522px;
	background: #fff;
	border: 1px solid #ff5000;
	box-sizing: border-box;  /*设置IE盒模型*/
	border-top: none;
	padding-top: 5px;
}

#firstScreen .firstLeft .sideNav li{
	height: 32px;
	line-height: 32px;
	padding-left: 25px;
	color: #999;
	font-size: 14px;

	/*CSS3*/
	transition: background-color 0.3s;  /*背景色过渡效果*/
}

#firstScreen .firstLeft .sideNav li a{
	font-size: 14px;
	color: #666;
}

#firstScreen .firstLeft .sideNav li span{
	font-size: 12px;
	margin-right: 5px;
}

#firstScreen .firstLeft .sideNav li:hover{
	background: #ffe4dc;
	color: #f50;
}

#firstScreen .firstLeft .sideNav li:hover a{
	color: #f50;
}

#firstScreen .firstLeft .sideNav a:hover{
	text-decoration: underline;  /*下划线*/
}

/*图片1容器*/
#firstScreen .firstLeft .img1Box{
	width: 690px;
	height: 282px;
	margin-top: 10px;
}

#firstScreen .firstLeft .pic{
	width: 520px;
	position: relative;
}

#firstScreen .firstLeft .pic button{
	width: 20px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
	border: none;
	background-color: rgba(0, 0, 0, 0.3);  /*浏览器支持：IE9+*/

	/*CSS hack*/
	background-color: 000\9;  /*IE9以下的浏览器能够识别*/ 
	filter: alpha(opacity=30);  /*IE滤镜：透明度*/

	position: absolute;
	top: 50%;
	margin-top: -15px;

	display: none;
}

#firstScreen .firstLeft .pic button.leftBtn{
	left: 0;
	border-radius: 0 15px 15px 0;
}

#firstScreen .firstLeft .pic button.rightBtn{
	right: 0;
	border-radius: 15px 0 0 15px;
}

#firstScreen .firstLeft .pic:hover button{
	display: block;
}

#firstScreen .firstLeft .pic .circle{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -35px;
	border-radius: 10px;
	padding: 3px 0;
	font-size: 0;

	background-color: rgba(255, 255, 255, 0.3);
}

#firstScreen .firstLeft .pic .circle span{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;  /*圆形*/
	background-color: #fff;
	margin: 0 3px;
	cursor: pointer;
}

#firstScreen .firstLeft .pic .circle span.active{
	background-color: #ff5000;
}

#firstScreen .firstLeft .ad{
	width: 160px;
}

#firstScreen .firstLeft .ad img{
	width: 160px;
}

/*图片2容器*/
#firstScreen .firstLeft .img2Box{
	width: 690px;
	height: 220px;
	margin-top: 10px;
}

#firstScreen .firstLeft .img2Box .picTitle{
	height: 20px;  /*总高度*/
}

#firstScreen .firstLeft .img2Box .picTitle .text{
	height: 17px;  /*文字高度*/
	line-height: 17px;
}

#firstScreen .firstLeft .img2Box .picTitle .text .bg{
	background: url(../images/title_bg.png) no-repeat left;
	padding-left: 136px;
	color: #666;
}

#firstScreen .firstLeft .img2Box .picTitle .text i{
	color: #ff1648;
}

#firstScreen .firstLeft .img2Box .picTitle .line{
	height: 3px;
	background-color: #ff1648;
	position: relative;
}

#firstScreen .firstLeft .img2Box .picTitle .line span{
	width: 87px;
	height: 3px;
	background-color: #000;
	position: absolute;
	left: 0;
}

#firstScreen .firstLeft .img2Box .img{
	width: 520px;
	height: 200px;
	background-color: #fff;
	position: relative;

	/*模拟单元格实现图片垂直居中*/
	display: table-cell;
	vertical-align: middle;

	/*弹性盒模型实现图片水平垂直居中 浏览器支持：IE10+*/
	/*display: flex;*/
	/*justify-content: space-around;*/  /*水平*/
	/*align-items: center;*/  /*垂直*/
}

#firstScreen .firstLeft .img2Box .img img{
	margin: 0 10px;
}

#firstScreen .firstLeft .img2Box .ad .title{
	height: 20px;
	line-height: 20px;
}

/*淘宝头条*/
#firstScreen .firstLeft .news{
	width: 890px;
	height: 100px;
	margin-top: 10px;
	background: #fff;
	box-sizing: border-box;  /*设置IE盒模型*/
	padding: 13px 13px 13px 20px;
}

#firstScreen .firstLeft .news .hd{
	margin-top: 15px;
}

#firstScreen .firstLeft .news .hd h3{
	width: 129px;
	height: 26px;
	background: url(../images/news_logo.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

#firstScreen .firstLeft .news .hd p{
	color: #999;
	line-height: 24px;
}

#firstScreen .firstLeft .news .newList{
	width: 680px;
	position: relative;  /*相对定位*/
}

#firstScreen .firstLeft .news .newList img{
	width: 130px;
	height: 73px;
	margin-right: 15px;
}

#firstScreen .firstLeft .news .newList h4{
	line-height: 28px;
	font-size: 16px;
	font-weight: normal;  /*去除字体加粗样式*/
}

#firstScreen .firstLeft .news .newList h4 a{
	color: #333;
}

#firstScreen .firstLeft .news .newList h4 a:hover{
	color: #ff5000;
}

#firstScreen .firstLeft .news .newList p{
	line-height: 18px;
	font-size: 14px;
}

#firstScreen .firstLeft .news .newList p a{
	color: #999;
}

#firstScreen .firstLeft .news .more{
	position: absolute;  /*绝对定位*/
	top: 0;
	right: 0;
	color: #999;
}

#firstScreen .firstLeft .news .more:hover{
	color: #ff5000;
}

/*右边的内容*/
#firstScreen .firstRight{
	width: 290px;
	margin-top: 10px;
}

/*用户*/
#firstScreen .firstRight .user{
	height: 140px;
	padding-top: 5px;
	background: url(../images/user_bg.png);
}

#firstScreen .firstRight .user .avatar{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;  /*水平居中*/
	/*border-radius: 50%;
	overflow: hidden;*/
}

#firstScreen .firstRight .user .avatar img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#firstScreen .firstRight .user .username{
	text-align: center;  /*文字居中*/
	line-height: 16px;
}

#firstScreen .firstRight .user .members{
	text-align: center;
	font-size: 0;
}

#firstScreen .firstRight .user .members a{
	display: inline-block;
	font-size: 12px;
	border-radius: 9px;
	padding: 0 10px 0 20px;
	margin: 0 2px;
	/*background: #ffe4dc*/
}

#firstScreen .firstRight .user .members a.gold{
	/*图片精灵/雪碧图*/
	background: #ffe4dc url(../images/ico.png) 0 -572px no-repeat;
}

#firstScreen .firstRight .user .members a.club{
	background: #ffe4dc url(../images/ico.png) 0 -528px no-repeat;
}

#firstScreen .firstRight .user .btn{
	text-align: center;
}

#firstScreen .firstRight .user .btn button{
	width: 75px;
	height: 25px;
	line-height: 25px;
	margin: 12px 2px 0 2px;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	border: none;

	background-image: linear-gradient(to right, #ff9000, #ff5000);  /*线性渐变：渐变方向，起始颜色，结束颜色 浏览器兼容：IE10+*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);  /*滤镜：1表示水平方向，0表示垂直方向 IE特有*/
}

#firstScreen .firstRight .user .btn button.login{
	width: 92px;
}

/*举报*/
#firstScreen .firstRight .tipOff{
	display: block;
	height: 26px;
	line-height: 26px;
	color: #f40;
	background: #ffe4dc;
	text-align: center;
}

#firstScreen .firstRight .tipOff i{
	font-size: 12px;
	vertical-align: 1px;
	position: relative;  /*相对定位：相对于自身*/
	left: 30px;
}

/*公告区*/
#firstScreen .firstRight .notice{
	height: 108px;
	background-color: #fff;
}

#firstScreen .firstRight .notice .title{
	text-align: center;
	font-size: 0;
	padding-top: 10px;
}

#firstScreen .firstRight .notice .title li{
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	padding: 0 4px;
	margin: 0 10px;
}

#firstScreen .firstRight .notice .title li.active{
	font-weight: bold;
	border-bottom: 2px solid #f40;
}

#firstScreen .firstRight .notice .title li a:hover{
	color: #f40;
}

#firstScreen .firstRight .notice .content{
	margin: 0 12px;
	padding-top: 10px;
}

#firstScreen .firstRight .notice .content li{
	height: 25px;
	line-height: 25px;
	float: left;
	width: 130px;
	overflow: hidden;
}

#firstScreen .firstRight .notice .content li a:hover{
	color: #ff5000;
}

/*处理文字长度超长*/
#firstScreen .firstRight .notice .content li.item1{
	width: 100%;
}

#firstScreen .firstRight .notice .content li.item1 a{
	color: #ff5000;
}

/*图标区域*/
#firstScreen .firstRight .icon{
	width: 100%;
	height: 231px;
	background-color: #fff;
	table-layout: fixed;  /*定义列宽的算法：fixed表示根据表格宽度自动计算列宽，列宽分配方式为均分*/
}

#firstScreen .firstRight .icon td{
	border: 1px solid #f4f4f4;
	text-align: center;
}

#firstScreen .firstRight .icon td span{
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background: url(../images/ico.png) no-repeat;
}

#firstScreen .firstRight .icon td i{
	line-height: 34px;
	color: #333;
}

#firstScreen .firstRight .icon .item1 span{
	background-position: 0 0;  /*设置雪碧图对应图标位置*/
}

#firstScreen .firstRight .icon .item2 span{
	background-position: 0 -87px; 
}

#firstScreen .firstRight .icon .item3 span{
	background-position: 0 -44px; 
}

#firstScreen .firstRight .icon .item4 span{
	background-position: 0 -132px; 
}

#firstScreen .firstRight .icon .item5 span{
	background-position: 0 -176px; 
}

#firstScreen .firstRight .icon .item6 span{
	background-position: 0 -220px; 
}

#firstScreen .firstRight .icon .item7 span{
	background-position: 0 -264px; 
}

#firstScreen .firstRight .icon .item8 span{
	background-position: 0 -308px; 
}

#firstScreen .firstRight .icon .item9 span{
	background-position: 0 -352px; 
}

#firstScreen .firstRight .icon .item10 span{
	background-position: 0 -396px; 
}

#firstScreen .firstRight .icon .item11 span{
	background-position: 0 -440px; 
}

#firstScreen .firstRight .icon .item12 span{
	background-position: 0 -484px; 
}

/*APP*/
#firstScreen .firstRight .app{
	height: 111px;
	background: #fff;
}

#firstScreen .firstRight .app .title{
	height: 30px;
	line-height: 30px;
}

#firstScreen .firstRight .app h3{
	font-size: 14px;
	padding-left: 14px;
}

#firstScreen .firstRight .app a{
	margin-right: 10px;
}

#firstScreen .firstRight .app a:hover{
	color: #f40;
}

#firstScreen .firstRight .app .appIcon{
	text-align: center;
	font-size: 0;
}

#firstScreen .firstRight .app .appIcon li{
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0 10px 8px 10px;
}

#firstScreen .firstRight .app .appIcon li img{
	width: 32px;
	height: 32px;
}

/*有好货、爱逛街*/
/*有好货*/
#hgj .goods{
	width: 590px;
	height: 658px;
	background-color: #fff;
	overflow: hidden;
}

#hgj .goods .head{
	height: 24px;
	line-height: 24px;
	margin: 20px 0;
	padding: 0 20px;
}

#hgj .goods .head h3{
	font-size: 0;
	font-weight: normal;
}

#hgj .goods .head h3 img{
	height: 24px;
}

#hgj .goods .head h3 span{
	vertical-align: middle;  /*行内级元素垂直居中*/
	color: #ccc;
	font-size: 20px;
	margin: 0 5px;
}

#hgj .goods .head h3 i{
	font-size: 12px;
	vertical-align: middle;
	color: #999;
}

#hgj .goods .head .change{
	color: #999;
}

#hgj .goods .list{
	font-size: 0;
	text-align: center;
}

#hgj .goods .list li{
	width: 180px;
	display: inline-block;
	margin: 0 2px 35px 2px;
	text-align: left;
}

#hgj .goods .list li img{
	width: 180px;
	height: 180px;
}

#hgj .goods .list li h4{
	font-size: 16px;
	height: 28px;
	line-height: 28px;
	font-weight: normal;
}

#hgj .goods .list li h4 a:hover{
	color: #f40;
}

#hgj .goods .list li .text{
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
}

#hgj .goods .list li .text a{
	color: #999;
}

#hgj .goods .list li .comment{
	display: block;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #35b1ff;
	margin-top: 12px;
}

#hgj .goods .list li .comment span{
	font-size: 14px;
	margin-right: 4px; 
}

/*爱逛街*/
#hgj .shopping .list li .text{
	height: 44px;
	line-height: 22px;
	font-size: 14px;
	overflow: hidden;
	margin-top: 11px;
}

#hgj .shopping .list li .text span{
	font-size: 14px;
	color: #ebebeb;
	position: relative;
	top: -5px;
}

#hgj .shopping .list li .text a:hover{
	color: #f40;
}

#hgj .shopping .list li .comment img{
	width: 22px;
	height: 22px;
	border-radius: 50%;
}

#hgj .shopping .list li .comment i{
	color: #999;
}

/*右侧固定定位导航*/
#tool{
	width: 50px;
	height: 350px;
	/*background-color: #f00;*/

	position: fixed;  /*固定定位*/
	top: 100px;
	right: 2%;

	/*border: 1px solid #f00;*/
}

#tool span{
	font-size: 32px;
	color: #ff7f13;
	width: 50px;
	height: 36px;
	line-height: 36px;
	text-align: center;

	position: absolute;
	top: -28px;
}

#tool .btn{
	height: 350px;
	border-radius: 8px;
	overflow: hidden;
}

#tool a{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	background: #fff;
	word-break: keep-all;  /*让文字以空格为分隔进行换行*/

	padding-top: 6px;
	box-sizing: border-box;
	position: relative;
}

/*伪类 伪类：一个冒号；伪元素：两个冒号*/
#tool a:after{
	content: "";
	border-bottom: 1px solid #efefef;
	width: 32px;
	position: absolute;
	left: 8px;
	bottom: 0;
}

#tool a.item6{
	line-height: 40px;
}

#tool a:hover, #tool a.active{
	background-image: linear-gradient(135deg, #ff9000, #ff5000);  /*线性渐变：渐变方向，起始颜色，结束颜色 浏览器兼容：IE10+*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);  /*滤镜：1表示水平方向，0表示垂直方向 IE特有*/
	color: #fff;
	font-weight: bold;
}

#tool a:hover:after, #tool a.active:after{
	border: none;
}