/*标签样式重置*/
/*重置原则：1、只重置需要使用的标签  2、只重置标签自身携带的样式*/

body, p, h1, h2, h3, h4{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

img{
	border: none;;
	vertical-align: middle;  /*垂直方向对齐*/
}

a{
	text-decoration: none;  /*去除下划线*/
	color: #3c3c3c;
}

i{
	font-style: normal;
}

input{
	margin: 0;
	padding: 0;
}

button{
	margin: 0;
	padding: 0;
	outline: none;  /*去除鼠标焦点*/
}

table{
	border-collapse: collapse;  /*边框模式：合并模式*/
}

th, td{
	padding: 0;
}

body{
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;  /*“\5b8b\4f53”：字体Unicode加密*/
	color: #3c3c3c;
	background-color: #f4f4f4;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

/*清除浮动*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

/*居中*/
.layer{
	width: 1190px;
	margin: 0 auto;
}

.c4{
	color: #f40;
}

.c5{
	color: #f50;
}

.c6{
	color: #8d7afb;
}

.c7{
	color: #a8c001;
}

.mt10{
	margin-top: 10px;
}

.mr5{
	margin-right: 5px;
}

.mr7{
	margin-right: 7px;
}

.mr10{
	margin-right: 10px;
}